<header>
    {% if 'ctf' in article.tags %}
    <span class="glyphicon glyphicon-flag"></span>
    {% elif 'advisory' in article.tags %}
    <i class="fa fa-bug" aria-hidden="true"></i>
    {% else %}
    <span class="glyphicon glyphicon-globe"></span>
    {% endif %}
    <time>{{ article.locale_date }}</time>
    <div class="title">
        <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}">
            {% if 'ctf' in article.tags %}
            Write-up:
            {% endif %}
            {{ article.title }}
        </a>
    </div>

    <div class="meta">
        {% import "_macros/author_fmt.html" as author_fmt %}
        {% set author = MEMBER_GET(article.author) %}

        Posted by {{ author_fmt.author_fmt(author) }} under <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }}</a>
        {% if article.tags %}
        <span class="tags">
        with tag(s)
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>

</header>
